node_modules
tsconfig.tsbuildinfo
dist
packages/*/build
example/build
bin
tmp
~
yarn-error.log
.sewing-kit
packages/*/*.js
packages/*/*.esnext
packages/*/*.node
packages/*/*.d.ts
packages/*/*.ts
!packages/*/sewing-kit.config.ts
